html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: #c9c9c9;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 80%;
  background-color: white;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}